In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns

In [2]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [17]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [3]:
data=pd.read_csv("train.csv")

In [32]:
df1=data.corr()
df1[abs(df1["SalePrice"])>5]

df2=df1["SalePrice"]
df2[abs(df2)>0.5]

1stFlrSF          0.605852
FullBath          0.560664
GarageArea        0.623431
GarageCars        0.640409
GrLivArea         0.708624
OverallQual       0.790982
TotRmsAbvGrd      0.533723
TotalBsmtSF       0.613581
YearBuilt         0.522897
YearRemodAdd      0.507101
BsmtQual_Ex       0.553105
ExterQual_TA     -0.589044
KitchenQual_Ex    0.504094
KitchenQual_TA   -0.519298
SalePrice         1.000000
Name: SalePrice, dtype: float64

In [71]:
names="OverallQual","GrLivArea","GarageCars","TotalBsmtSF","GarageArea"
x=np.array(data.loc[:,names])
x_std=ss.fit_transform(x)

In [72]:
y=np.array(data.loc[:,"SalePrice"])
y_std=ss.fit_transform(y)

C:\Users\ryosh\Anaconda3\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)
C:\Users\ryosh\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\ryosh\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [73]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_std, y_std, test_size = 0.3, random_state = 0)

In [74]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [75]:
print(lr.score(X_train,y_train),lr.score(X_test,y_test))

0.786334243173 0.691941150996

In [76]:
def adjusted(score, n_sample, n_features):
    adjusted_score = 1 - (1 - score) * ((n_sample - 1) / (n_sample - n_features - 1))
    return adjusted_score

In [77]:
print(adjusted(lr.score(X_train,y_train),len(y_train),2),adjusted(lr.score(X_test,y_test),len(y_train),2))

0.785914879568 0.691336521263

In [78]:
lr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [79]:
pd.DataFrame(x).corr()

          0         1         2         3         4
0  1.000000  0.593007  0.600671  0.537808  0.562022
1  0.593007  1.000000  0.467247  0.454868  0.468997
2  0.600671  0.467247  1.000000  0.434585  0.882475
3  0.537808  0.454868  0.434585  1.000000  0.486665
4  0.562022  0.468997  0.882475  0.486665  1.000000

In [80]:
lr_all=LinearRegression()

In [81]:
lr_all.fit(data,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [82]:
pd.DataFrame(lr_all.coef_).sort_values(by=[0],ascending=False)

                0
270  1.000000e+00
31   2.775954e-03
132  1.937291e-07
130  1.937235e-07
131  1.937203e-07
129  1.937180e-07
133  1.937053e-07
134  1.936838e-07
117  1.108643e-07
105  9.375352e-08
103  9.374168e-08
107  9.372551e-08
112  9.372089e-08
106  9.371680e-08
104  9.371625e-08
100  9.371518e-08
111  9.371267e-08
109  9.370486e-08
110  9.370140e-08
98   9.369627e-08
99   9.369220e-08
101  9.368456e-08
108  9.366459e-08
91   8.587091e-08
89   8.586908e-08
93   8.586525e-08
90   8.586008e-08
92   8.581924e-08
62   7.856364e-08
63   7.855615e-08
..            ...
66  -6.057420e-08
181 -8.883642e-08
180 -8.883711e-08
183 -8.885071e-08
182 -8.885430e-08
248 -8.910477e-08
247 -8.910521e-08
246 -8.910588e-08
249 -8.911152e-08
245 -8.911722e-08
250 -8.925114e-08
147 -1.153917e-07
148 -1.153961e-07
149 -1.153983e-07
198 -1.251876e-07
197 -1.252020e-07
196 -1.252023e-07
199 -1.252074e-07
190 -1.443878e-07
188 -1.444500e-07
189 -1.444538e-07
52  -1.474281e-07
50  -1.474312e-07
53  -1.474313e-07
54  -1.474328e-07
49  -1.474409e-07
51  -1.474439e-07
5   -2.775954e-03
4   -2.775954e-03
8   -2.775954e-03

[271 rows x 1 columns]